<% if @current_user %>
<%= @current_user.username  %>
<form action="/session" method="delete">
  <input type="submit" value="Sign Out">
</form>
<% else %>
<a href="/users/new">Create New User</a>
<br>
<a href="/session/new">Sign In</a>
<% end %>

<br>

<h1>Notes</h1>
<% @notes.each do |note| %>
<pre>Note Title: <a href="/notes/<%=note.id%>"><%= note.title %></a></pre>
<pre>Note Body:<%= note.body %></pre>

<form class="" action="/notes/<%=note.id%>/delete" method="post">
  <!-- <input type="hidden" name="_method" value="delete"> -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete Note">
</form>

<% end %>
<br>
<br>
<
<a href="/notes/new">New note!</a>
