<header>
  <% if @current_user %>
  <%= @current_user.username  %>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Sign Out">
  </form>
  <% else %>
  <a href="/users/new">Create New User</a>
  <br>
  <a href="/session/new">Sign In</a>
  <% end %>

</header>


<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<a href="/">Home</a>
<br  />
<form action="/notes" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title
    <input type="text" name="note[title]" value="<%= @note.title %>">
  </label>
  <label> Body
    <textarea name="note[body]" ></textarea>
  </label>

  <input type="submit">
</form>
