<header>
  <% if @current_user %>
  <%= @current_user.username  %>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Sign Out">
  </form>
  <% else %>
  <a href="/users/new">Create New User</a>
  <br>
  <a href="/session/new">Sign In</a>
  <% end %>

</header>


<h1>Note</h1>
<h2><%= @note.title %></h2>
<pre><%= @note.body %></pre>
<form class="" action="/notes" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="id" value="<%= @note.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete Note">
</form>

<br>
<br>
<br>
<a href="/">All Notes</a>
